@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: darkgrey;
    font-family: 'Roboto', sans-serif;
}

#form_biglietto{
    width: 1000px;
    min-height: 100px;
    background-color: rgb(226, 43, 223);
    margin: 100px auto;
    padding: 30px;
}

h1{
    color: white;
    text-align: center;
}


#dati, #biglietto{
    width: 800px;
    min-height: 50px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
   
}

.dati_utente{
    display: flex;
    justify-content: space-evenly;
}

.description{
    text-align: center;
    margin: 10px 0;
    color: rgb(226, 43, 223);
    font-size: 18px;
}

.genera_biglietto{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.genera a, .annulla a{
    padding: 10px;
    border: 1px solid rgb(226, 43, 223);
    border-radius: 10px;
    background-color: rgb(198, 198, 198);
    margin-left: 10px;
    color: rgb(226, 43, 223);
    font-size: 18px;
    text-decoration: none;

}

.genera a:hover, .annulla a:hover{
    background-color: rgb(222, 222, 222);
    color: rgb(230, 80, 227);
}

#form_biglietto input{
    border-radius: 15px;
    border: 2px solid rgb(226, 43, 223);
    margin-bottom: 20px;
}

.description_biglietto{
    margin-top: 20px;
    font-size: 18px;
}

.description_biglietto:first-child{
    background-color: rgb(198, 198, 198);
    padding: 0px 30px 50px 30px;
    font-size: 20px;

}

#nome, #offerta, #numero_carrozza, #numero_C_P, #sconto{
    margin: 10px 0;
    padding: 2px;
    margin: 2px solid black;
    color:  rgb(75, 13, 74);
    
}


.active{
    display: none;
}

